# Descriptive Analysis

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

df = pd.read_csv("../processed/market_data.csv", parse_dates=["Date"])
df = df.set_index("Date").sort_index()

descriptive = pd.DataFrame({
    "mean": df.mean(),
    "std": df.std(),
    "min": df.min(),
    "max": df.max(),
    "skew": df.skew(),
    "kurtosis": df.kurtosis(),
}).round(2)

eth = pd.read_csv("../processed/market_data_eth.csv", parse_dates=["Date"])
eth = eth.set_index("Date").sort_index()

descriptive_eth = pd.DataFrame({
    "mean": eth["eth_logret"].mean(),
    "std": eth["eth_logret"].std(),
    "min": eth["eth_logret"].min(),
    "max": eth["eth_logret"].max(),
    "skew": eth["eth_logret"].skew(),
    "kurtosis": eth["eth_logret"].kurtosis(),
}, index=["eth_logret"]).round(2)

# gew√ºnschte Reihenfolge explizit festlegen
order = []

for col in descriptive.index:
    order.append(col)
    if col == "btc_logret":
        order.append("eth_logret")

descriptive_all = pd.concat(
    [descriptive, descriptive_eth]
).loc[order]

descriptive_all

                 mean   std   min   max  skew  kurtosis
btc_logret       0.05  0.17 -0.37  0.67  0.45      1.00
eth_logret       0.03  0.23 -0.46  0.66  0.18      0.01
sp500_logret     0.01  0.04 -0.21  0.08 -2.19     10.60
usdindex_logret  0.00  0.01 -0.02  0.04  0.17     -0.42
inflation        0.00  0.00 -0.01  0.01  0.41      3.38
m2_growth        0.00  0.01 -0.01  0.06  4.12     24.88
fedfunds         1.97  1.92  0.05  5.33  0.65     -1.11
d_fedfunds       0.03  0.18 -0.93  0.70 -0.48      9.71

In [2]:
from pathlib import Path

descriptive_all.index.name = "Variable"

descriptive_all = descriptive_all.rename(columns={
    "mean": "Mean",
    "std": "Std.",
    "min": "Min",
    "max": "Max",
    "skew": "Skewness",
    "kurtosis": "Kurtosis"
})


TABLE_DIR = Path("../tables")
TABLE_DIR.mkdir(parents=True, exist_ok=True)

descriptive_all.to_latex(
    TABLE_DIR / "descriptive_statistics.tex",
    float_format="%.2f",
    caption=None,
    label=None,
    escape=True,
)

## Correlations

In [3]:
corr = df.corr().round(3)
corr

,btc_logret,sp500_logret,usdindex_logret,inflation,m2_growth,fedfunds,d_fedfunds
btc_logret,1.000,0.416,-0.110,-0.105,0.050,-0.030,-0.046
sp500_logret,0.416,1.000,-0.444,0.084,0.002,0.078,0.140
usdindex_logret,-0.110,-0.444,1.000,-0.091,0.089,-0.072,-0.183
inflation,-0.105,0.084,-0.091,1.000,-0.332,-0.082,0.303
m2_growth,0.050,0.002,0.089,-0.332,1.000,-0.387,-0.553
fedfunds,-0.030,0.078,-0.072,-0.082,-0.387,1.000,0.066
d_fedfunds,-0.046,0.140,-0.183,0.303,-0.553,0.066,1.000